@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:active, *:focus {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  border-bottom: 3px solid whitesmoke;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: .5rem .5rem;
  text-align: center;
  background-color: lightslategrey;
  box-shadow: 0 0 10px grey;
}

header input {
  background-color: no-repeat;
  background-color: rgb(181, 192, 204);
  background-position: .5rem;
  background-size: 1rem;
  border: none;
  border-radius: 50px;
  padding: .4rem 1rem;
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  text-indent: 1rem;
  width: 13rem;
  font-size: 1rem;
}

header input:placeholder-shown {
  width: 38px;
  background-position: center;
  height: inherit;
  border-radius: 50%;
}

header input:focus {
  width: 13rem;
  border-radius: 50px;
  background-position: left;
  background-position: .5rem;
}

header a, nav a, nav button {
  color: whitesmoke;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem 0 .5rem;
  line-height: 3rem;
  background-color: lightslategrey;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav li {
  cursor: pointer;
}

nav span, nav button span {
  display: none;
}

nav img {
  height: 2rem;
}

nav button {
  display: none;
}

@media only screen and (min-width: 800px) {
  header input:placeholder-shown {
    width: 13rem;
    border-radius: 50px;
    background-position: left;
    background-position: .5rem;
  }
  nav {
    left: 0;
    top: 0;
    height: 100vh;
    width: auto;
    padding: 3rem 2rem;
  }
  nav ul {
    display: block;
    padding-top: 2rem;
  }
  nav li {
    padding: .5rem 0;
  }
  nav button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  nav button img {
    transform: rotate(180deg);
  }
  nav button span {
    font-size: 1rem;
    padding-left: .2rem;
  }
}