body {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.582);
  border-radius: 5px;
}

.container form input {
  border: none;
  font-size: 1rem;
  padding: .4rem;
  width: 100%;
}

.container form button{
  width: 2rem;
  height: 2rem;
  background-color: rgba(238, 153, 153, 0.9);
  background-repeat: no-repeat;
  border: none;
  padding: .5rem;
  cursor: pointer;
}

.container form button:active {
  transform: scale(.9);
  background-color: rgba(238, 153, 153, 0.993);
  transition: all 500ms ease-out;
}

.filters {
  background-color: rgba(255, 255, 255, 0.781);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 1rem 0;
  padding: 1rem 1rem;
  border: 1px solid rgba(128, 128, 128, 0.582);
  border-radius: 5px;
}

.filters label {
  display: inline-block;
  width: 50%;
  padding: .2rem 1rem;
  cursor: pointer;
}