@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:active, *:focus {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100vw;
  padding: .5rem 0;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px grey;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1rem 0 .5rem;
  background-color: white;
  line-height: 3rem;
  background-color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav span, nav button span {
  display: none;
}

nav img {
  height: 2rem;
}

nav button {
  display: none;
}

.container {
  margin: 2rem 0 5rem;
  text-align: center;
}

.container form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container form input {
  margin: .3rem;
  padding: .6rem 1rem;
  width: 90vw;
  font-size: 1rem;
  background: none;
  /* background-color: white; */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 2px grey; */
}

.container form input:focus {
  border-bottom: 1px solid black;
}

.container form button {
  font-size: 1.2rem;
  padding: .7rem 3rem;
  margin-top: 1rem;
  background-color: rgba(101, 156, 179, 0.897);
  /* border: 5px solid rgb(101, 156, 179); */
  border-radius: 15px;
  cursor: pointer;
}

.container form button:hover {
  background-color: rgb(101, 156, 179);
  transform: scale(1.01);
  transition: ease-in-out;
}

@media only screen and (min-width: 800px) {
  nav {
    left: 0;
    /* top: 3rem; */
    top: 0;
    height: 100vh;
    width: auto;
    padding: 3rem 2rem;
  }
  nav ul {
    display: block;
    padding-top: 2rem;
  }
  nav li {
    padding: .5rem 0;
  }
  nav button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  nav button img {
    transform: rotate(180deg);
  }
  nav button span {
    font-size: 1rem;
    padding-left: .2rem;
  }
  .container form input {
    width: 40vw;
  }
}